body {
  font-family: sans-serif;
  background-color: #ac4ade35;
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #2e448bc9;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
